<section>
    <div class='container '>
        <div class="row ">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <br><br>
                <h1 class="section-title">¿Quiénes somos?</h1>
            </div>
            <div class='row'>
                <div >
                    <br><br>
                    <b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </b>
                    <br><br>
                    <h2>Visión:</h2>
                    <b>
                        
                    Constituirnos en la red de comercio electrónico de materias primas a nivel nacional, en un lapso de diez años, que nos permita ayudar a nuestra gente a crecer.

                    </b>
                    <br><br>
                    <h2>Misión:</h2>
                    <b>
                        
                    Somos una empresa de comercio electrónico apasionada por generar oportunidades de negocio entre proveedores de materias primas y clientes finales, garantizando los precios más bajos del mercado, calidad, diversidad, y la mayor comidad, dando lugar a experiencias de comercio únicas.
                    </b>
                    <br><br>
                    <h2>Valores:</h2>
                    <ul>
                        <li type="circle"><b>Trabajo en equipo</b></li>
                        <li type="circle"><b>Innovación</b></li>
                        <li type="circle"><b>Mejora continua</b></li>
                        <li type="circle"><b>Responsabilidad social</b></li>
                        <li type="circle"><b>Compromiso con el medio ambiente</b></li>

                    </ul>
                    

                </div>

            </div>
        </div>

    </div>

</section>
<app-contactanos></app-contactanos>